<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--header bar-->
<nav class="navbar navbar-default  navbar-brands  navbar-abouts" th:fragment="headerbar">
  <div class="container">
    <div class="navbar-header">
      <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse"
              class="navbar-toggle collapsed" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a th:href="@{/home/index}" class="navbar-logo navbar-brand "></a>
    </div>
    <div class="collapse navbar-collapse navbar-right" id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" th:classappend="${active == 'index' ? 'active' : ''}">
          <a aria-expanded="false" role="button" aria-haspopup="true" class="dropdown-toggle"
             th:href="@{/home/index}"
             title="Home">首页</a>
        </li>
        <li class="dropdown" th:classappend="${active == 'about' ? 'active' : ''}">
          <a aria-expanded="false" role="button" aria-haspopup="true" class="dropdown-toggle"
             th:href="@{/home/about}"
             title="About us">关于我们</a>
        </li>
        <li class="dropdown" th:classappend="${active == 'Product' ? 'active' : ''}">
          <a aria-expanded="false" role="button" aria-haspopup="true" class="dropdown-toggle"
             th:href="@{/home/Product}" title="Product service">产品服务</a>
        </li>
        <li class="dropdown" th:classappend="${active == 'Case' ? 'active' : ''}">
          <a aria-expanded="false" role="button" aria-haspopup="true" class="dropdown-toggle"
             th:href="@{/home/Case}"
             title="Classic case">经典案例</a>
        </li>
        <li class="dropdown" th:classappend="${active == 'Service' ? 'active' : ''}">
          <a aria-expanded="false" role="button" aria-haspopup="true" class="dropdown-toggle"
             th:href="@{/home/Service}" title="Micro business service">微商服务</a>
        </li>
        <li class="dropdown" th:classappend="${active == 'contact' ? 'active' : ''}">
          <a aria-expanded="false" role="button" aria-haspopup="true" class="dropdown-toggle"
             th:href="@{/home/contact}" title="Contact us">联系我们</a>
        </li>
        <li class="dropdown" th:if="${not #strings.isEmpty(session.loginUser)}">
          <a aria-expanded="false" role="button" aria-haspopup="true" class="dropdown-toggle" style="color: #9ddfff"
             th:href="@{/user/logout}" title="点击退出登录">欢迎您，[[${session.loginUser}]]</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--footer bar-->
<footer class="main-footer  main-footer1" th:fragment="footerbar">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="widget">
          <h4 class="title"><img th:src="@{/home/themes/img/logo-blue.png}"></h4>
          <div class="content recent-post">
            <div class="recent-single-post">
              <div class="date">QIANTUI移动公关第一品牌，我们拥有最全面的媒介数据库资源，我们能给您提供全面的服务 。</div>
            </div>
            <div class="recent-single-post"><a class="post-title" href="#">XXX</a>
              <div class="date" style="padding-top:10px;">Copyright © 2020</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="widget">
          <h4 class="title"></h4>
          <div class="content-about">
            <div><a th:href="@{/home/about}">关于我们</a></div>
            <div><a th:href="@{/home/contact}">联系我们</a></div>
            <div><a href="http://www.lagou.com/gongsi/j71361" target="_blank">加入我们</a></div>
            <div><a th:href="@{/home/Product}">产品服务</a></div>
            <div><a th:href="@{/home/Case}">经典案例</a></div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="widget">
          <h4 class="title"></h4>
          <div class="content-about">
            <div><a th:href="@{/home/Introduction}">平台优势</a></div>
            <div><a th:href="@{/home/Introduction}">服务条款</a></div>
            <div><a th:href="@{/home/Introduction}">免责声明</a></div>
            <div><a th:href="@{/home/Introduction}">合作代理</a></div>
            <div><a th:href="@{/home/Introduction}">帮助中心</a></div>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="widget">
          <div class="content-about">
            <img th:src="@{/home/themes/img/ewm.jpg}" width="148" height="148"
                 style="border:1px solid #eee; padding:5px;" title="扫描二维码。关注我们。">
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

</html>