<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>经典案例--我是你爹</title>
  <link rel="icon" type="image/png" th:href="@{themes/icon/favicon.png}">

  <script th:src="@{js/html5shiv.min.js}"></script>

  <script th:src="@{js/respond.min.js}"></script>
  <!-- 新 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">

  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <script th:src="@{js/jquery.min.js}"></script>

  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script th:src="@{js/bootstrap.min.js}"></script>

  <!-- 最新的 Bootstrap  自定义样式 文件 -->
  <link th:href="@{themes/css/home.css}" rel="stylesheet" type="text/css">

</head>
<body>

<!--------- header  begin------------->
<div class=" container-fluid header-main header-section About-case">
  <div class="header-back"></div>
  <nav class="navbar navbar-default  navbar-brands  navbar-abouts">
    <div class="container">
      <div class="navbar-header">
        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse"
                class="navbar-toggle collapsed" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a th:href="@{index}" class="navbar-logo navbar-brand "></a>
      </div>
      <div class="collapse navbar-collapse navbar-right" id="navbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a aria-expanded="false" role="button" aria-haspopup="true" class="dropdown-toggle"
               th:href="@{index}">首页</a>
          </li>
          <li class="">
            <a aria-expanded="false" role="button" aria-haspopup="true" class="dropdown-toggle"
               th:href="@{about}">关于我们</a>
          </li>
          <li class="dropdown">
            <a aria-expanded="false" role="button" aria-haspopup="true" class="dropdown-toggle"
               th:href="@{Product}">产品服务</a>
          </li>
          <li class="active">
            <a aria-expanded="false" role="button" aria-haspopup="true" class="dropdown-toggle"
               th:href="@{Case}">经典案例</a>
          </li>
          <li class="dropdown">
            <a aria-expanded="false" role="button" aria-haspopup="true" class="dropdown-toggle"
               th:href="@{Service}">微商服务</a>
          </li>
          <li class="dropdown">
            <a aria-expanded="false" role="button" aria-haspopup="true" class="dropdown-toggle"
               th:href="@{contact}">联系我们</a>
          </li>
          <li class="dropdown" th:if="${not #strings.isEmpty(session.loginUser)}">
            <a aria-expanded="false" role="button" aria-haspopup="true" class="dropdown-toggle" style="color: #9ddfff"
               th:href="@{/user/logout}" title="点击退出登录">欢迎您，[[${session.loginUser}]]</a>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <div class="container container-zindex cover-container am-animation-scale-up"
       data-am-scrollspy="{animation: 'scale-up', repeat: false}">
    <h1><span>经典案例</span><br>我们有一种实力</h1>
    <p>以下是我们从我们众多作品中精心为您挑选出来的一批作品。其中包含了酒店<br>、房产、旅游、广告传媒等各行各业。希望您会喜欢”</p>
  </div>

</div>
<!--------- header  End------------->


<!--------Client case begin-------->
<main role="main" class="main Client-main">
  <div class="container">
    <div class="text-center"><h1>经典案例</h1></div>
    <div class="row Client-list" id="post-list ">
      <div class="col-xs-12 col-sm-4">
        <article class="post tag-guo-wai-wang-zhan tag-bootstrap-v3">
          <section class="post-featured-image">
            <a target="_blank" onclick="_hmt.push(['_trackEvent', 'imagelink', 'click', 'KORE'])" class="thumbnail"
               href="">
              <img th:src="@{themes/img/case/ps3.jpg}">
            </a>
          </section>

        </article>
      </div>
      <div class="col-xs-12 col-sm-4">
        <article class="post tag-guo-wai-wang-zhan tag-bootstrap-v3">
          <section class="post-featured-image">
            <a target="_blank" onclick="_hmt.push(['_trackEvent', 'imagelink', 'click', 'KORE'])" class="thumbnail"
               href="">
              <img th:src="@{themes/img/case/ps4.jpg}">
            </a>
          </section>

        </article>
      </div>
      <div class="col-xs-12 col-sm-4">
        <article class="post tag-guo-wai-wang-zhan tag-bootstrap-v3">
          <section class="post-featured-image">
            <a target="_blank" onclick="_hmt.push(['_trackEvent', 'imagelink', 'click', 'KORE'])" class="thumbnail"
               href="">
              <img th:src="@{themes/img/case/ps11.jpg}">
            </a>
          </section>

        </article>
      </div>
      <div class="col-xs-12 col-sm-4">
        <article class="post tag-guo-wai-wang-zhan tag-bootstrap-v3">
          <section class="post-featured-image">
            <a target="_blank" onclick="_hmt.push(['_trackEvent', 'imagelink', 'click', 'KORE'])" class="thumbnail"
               href="">
              <img th:src="@{themes/img/case/ps11.jpg}" title="摩托罗拉" about="摩托罗拉">
            </a>
          </section>
          <!--<header class="post-header">-->
          <!--<h4 class="post-title"><i></i>摩托罗拉 </h4>-->
          <!--<p class="post-title"><i></i>亚马逊中国是一家中国B2C电子商务网站，前身为卓越网，被亚马逊公司收购后，成为其子公司。</p>-->
          <!--</header>-->
        </article>
      </div>


      <div class="col-xs-12 col-sm-4">
        <article class="post tag-guo-wai-wang-zhan tag-bootstrap-v3">
          <section class="post-featured-image">
            <a target="_blank" onclick="_hmt.push(['_trackEvent', 'imagelink', 'click', 'KORE'])" class="thumbnail"
               href="">
              <img th:src="@{themes/img/case/ps7.jpg}">
            </a>
          </section>
          <!--<header class="post-header">-->
          <!--<h4 class="post-title"><i></i>小牛在线</h4>-->
          <!--<p class="post-title"><i></i> 小牛在线是一家引领新时代金融变革的互联网金融企业，其徽标标准色为橙色，它象征着热情、创造力和生命力。</p>-->
          <!--</header>-->
        </article>
      </div>
      <div class="col-xs-12 col-sm-4">
        <article class="post tag-guo-wai-wang-zhan tag-bootstrap-v3">
          <section class="post-featured-image">
            <a target="_blank" onclick="_hmt.push(['_trackEvent', 'imagelink', 'click', 'KORE'])" class="thumbnail"
               href="">
              <img th:src="@{themes/img/case/ps6.jpg}">
            </a>
          </section>
          <!--<header class="post-header">-->
          <!--<h4 class="post-title"><i></i>黄太吉</h4>-->
          <!--<p class="post-title"><i></i>黄太吉，于2012年成立的中式快餐食品公司,一起追寻记忆中难忘的美味记忆吧，让简单不简单，让平凡现不凡。</p>-->
          <!--</header>-->
        </article>
      </div>
      <div class="col-xs-12 col-sm-4">
        <article class="post tag-guo-wai-wang-zhan tag-bootstrap-v3">
          <section class="post-featured-image">
            <a target="_blank" onclick="_hmt.push(['_trackEvent', 'imagelink', 'click', 'KORE'])" class="thumbnail"
               href="">
              <img th:src="@{themes/img/case/ps7.jpg}">
            </a>
          </section>
          <!--<header class="post-header">-->
          <!--<h4 class="post-title"><i></i>小牛在线</h4>-->
          <!--<p class="post-title"><i></i> 小牛在线是一家引领新时代金融变革的互联网金融企业，其徽标标准色为橙色，它象征着热情、创造力和生命力。</p>-->
          <!--</header>-->
        </article>
      </div>
      <div class="col-xs-12 col-sm-4">
        <article class="post tag-guo-wai-wang-zhan tag-bootstrap-v3">
          <section class="post-featured-image">
            <a target="_blank" onclick="_hmt.push(['_trackEvent', 'imagelink', 'click', 'KORE'])" class="thumbnail"
               href="">
              <img th:src="@{themes/img/case/ps6.jpg}">
            </a>
          </section>
          <!--<header class="post-header">-->
          <!--<h4 class="post-title"><i></i>黄太吉</h4>-->
          <!--<p class="post-title"><i></i>黄太吉，于2012年成立的中式快餐食品公司,一起追寻记忆中难忘的美味记忆吧，让简单不简单，让平凡现不凡。</p>-->
          <!--</header>-->
        </article>
      </div>
      <div class="col-xs-12 col-sm-4">
        <article class="post tag-guo-wai-wang-zhan tag-bootstrap-v3">
          <section class="post-featured-image">
            <a target="_blank" onclick="_hmt.push(['_trackEvent', 'imagelink', 'click', 'KORE'])" class="thumbnail"
               href="">
              <img th:src="@{themes/img/case/ps3.png}">
            </a>
          </section>
          <!--<header class="post-header">-->
          <!--<h4 class="post-title"><i></i>开元酒店集团 </h4>-->
          <!--<p class="post-title"><i></i> 开元酒店是中国最大民营高星级连锁酒店，位列最具规模中国饭店集团第二名，开元酒店集团名列全球酒店集团50强。</p>-->
          <!--</header>-->
        </article>
      </div>
    </div>
  </div>
</main>
<!--------Client case End-------->


<!--------footer begin-------->
<footer class="main-footer  main-footer1">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="widget">
          <h4 class="title"><img th:src="@{themes/img/logo-blue.png}"></h4>
          <div class="content recent-post">
            <div class="recent-single-post">
              <div class="date">QIANTUI移动公关第一品牌，我们拥有最全面的媒介数据库资源，我们能给您提供全面的服务 。</div>
            </div>
            <div class="recent-single-post"><a class="post-title" href="#">XXX</a>
              <div class="date" style="padding-top:10px;">Copyright © 2020</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="widget">
          <h4 class="title"></h4>
          <div class="content-about">
            <div><a th:href="@{about}">关于我们</a></div>
            <div><a th:href="@{contact}">联系我们</a></div>
            <div><a href="http://www.lagou.com/gongsi/j71361.html" target="_blank">加入我们</a></div>
            <div><a th:href="@{Product}">产品服务</a></div>
            <div><a th:href="@{Case}">经典案例</a></div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="widget">
          <h4 class="title"></h4>
          <div class="content-about">
            <div><a th:href="@{Introduction}">平台优势</a></div>
            <div><a th:href="@{Introduction}">服务条款</a></div>
            <div><a th:href="@{Introduction}">免责声明</a></div>
            <div><a th:href="@{Introduction}">合作代理</a></div>
            <div><a th:href="@{Introduction}">帮助中心</a></div>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="widget">
          <div class="content-about">
            <img th:src="@{themes/img/ewm.jpg}" width="148" height="148"
                 style="border:1px solid #eee; padding:5px;" title="扫描二维码。关注我们。">
          </div>
        </div>
      </div>
    </div>
  </div>
</footer><!--------footer End-------->

</body>
</html>