<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>经典案例--我是你爹</title>
  <link rel="icon" type="image/png" th:href="@{/home/themes/icon/favicon.png}">

  <script th:src="@{/home/js/html5shiv.min.js}"></script>

  <script th:src="@{/home/js/respond.min.js}"></script>
  <!-- 新 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" th:href="@{/home/css/bootstrap.min.css}">

  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <script th:src="@{/home/js/jquery.min.js}"></script>

  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script th:src="@{/home/js/bootstrap.min.js}"></script>

  <!-- 最新的 Bootstrap  自定义样式 文件 -->
  <link th:href="@{/home/themes/css/home.css}" rel="stylesheet" type="text/css">

</head>
<body>

<!--------- header  begin------------->
<div class=" container-fluid header-main header-section About-case">
  <div class="header-back"></div>
  <div th:replace="~{common/commons :: headerbar(active='Case')}"></div>
  <div class="container container-zindex cover-container am-animation-scale-up"
       data-am-scrollspy="{animation: 'scale-up', repeat: false}">
    <h1><span>经典案例</span><br>我们有一种实力</h1>
    <p>以下是我们从我们众多作品中精心为您挑选出来的一批作品。其中包含了酒店<br>、房产、旅游、广告传媒等各行各业。希望您会喜欢”</p>
  </div>

</div>
<!--------- header  End------------->


<!--------Client case begin-------->
<main role="main" class="main Client-main">
  <div class="container">
    <div class="text-center"><h1>经典案例</h1></div>
    <div class="row Client-list" id="post-list ">
      <div class="col-xs-12 col-sm-4">
        <article class="post tag-guo-wai-wang-zhan tag-bootstrap-v3">
          <section class="post-featured-image">
            <a target="_blank" onclick="_hmt.push(['_trackEvent', 'imagelink', 'click', 'KORE'])" class="thumbnail"
               href="">
              <img th:src="@{/home/themes/img/case/ps3.jpg}">
            </a>
          </section>

        </article>
      </div>
      <div class="col-xs-12 col-sm-4">
        <article class="post tag-guo-wai-wang-zhan tag-bootstrap-v3">
          <section class="post-featured-image">
            <a target="_blank" onclick="_hmt.push(['_trackEvent', 'imagelink', 'click', 'KORE'])" class="thumbnail"
               href="">
              <img th:src="@{/home/themes/img/case/ps4.jpg}">
            </a>
          </section>

        </article>
      </div>
      <div class="col-xs-12 col-sm-4">
        <article class="post tag-guo-wai-wang-zhan tag-bootstrap-v3">
          <section class="post-featured-image">
            <a target="_blank" onclick="_hmt.push(['_trackEvent', 'imagelink', 'click', 'KORE'])" class="thumbnail"
               href="">
              <img th:src="@{/home/themes/img/case/ps11.jpg}">
            </a>
          </section>

        </article>
      </div>
      <div class="col-xs-12 col-sm-4">
        <article class="post tag-guo-wai-wang-zhan tag-bootstrap-v3">
          <section class="post-featured-image">
            <a target="_blank" onclick="_hmt.push(['_trackEvent', 'imagelink', 'click', 'KORE'])" class="thumbnail"
               href="">
              <img th:src="@{/home/themes/img/case/ps11.jpg}" title="摩托罗拉" about="摩托罗拉">
            </a>
          </section>
          <!--<header class="post-header">-->
          <!--<h4 class="post-title"><i></i>摩托罗拉 </h4>-->
          <!--<p class="post-title"><i></i>亚马逊中国是一家中国B2C电子商务网站，前身为卓越网，被亚马逊公司收购后，成为其子公司。</p>-->
          <!--</header>-->
        </article>
      </div>


      <div class="col-xs-12 col-sm-4">
        <article class="post tag-guo-wai-wang-zhan tag-bootstrap-v3">
          <section class="post-featured-image">
            <a target="_blank" onclick="_hmt.push(['_trackEvent', 'imagelink', 'click', 'KORE'])" class="thumbnail"
               href="">
              <img th:src="@{/home/themes/img/case/ps7.jpg}">
            </a>
          </section>
          <!--<header class="post-header">-->
          <!--<h4 class="post-title"><i></i>小牛在线</h4>-->
          <!--<p class="post-title"><i></i> 小牛在线是一家引领新时代金融变革的互联网金融企业，其徽标标准色为橙色，它象征着热情、创造力和生命力。</p>-->
          <!--</header>-->
        </article>
      </div>
      <div class="col-xs-12 col-sm-4">
        <article class="post tag-guo-wai-wang-zhan tag-bootstrap-v3">
          <section class="post-featured-image">
            <a target="_blank" onclick="_hmt.push(['_trackEvent', 'imagelink', 'click', 'KORE'])" class="thumbnail"
               href="">
              <img th:src="@{/home/themes/img/case/ps6.jpg}">
            </a>
          </section>
          <!--<header class="post-header">-->
          <!--<h4 class="post-title"><i></i>黄太吉</h4>-->
          <!--<p class="post-title"><i></i>黄太吉，于2012年成立的中式快餐食品公司,一起追寻记忆中难忘的美味记忆吧，让简单不简单，让平凡现不凡。</p>-->
          <!--</header>-->
        </article>
      </div>
      <div class="col-xs-12 col-sm-4">
        <article class="post tag-guo-wai-wang-zhan tag-bootstrap-v3">
          <section class="post-featured-image">
            <a target="_blank" onclick="_hmt.push(['_trackEvent', 'imagelink', 'click', 'KORE'])" class="thumbnail"
               href="">
              <img th:src="@{/home/themes/img/case/ps7.jpg}">
            </a>
          </section>
          <!--<header class="post-header">-->
          <!--<h4 class="post-title"><i></i>小牛在线</h4>-->
          <!--<p class="post-title"><i></i> 小牛在线是一家引领新时代金融变革的互联网金融企业，其徽标标准色为橙色，它象征着热情、创造力和生命力。</p>-->
          <!--</header>-->
        </article>
      </div>
      <div class="col-xs-12 col-sm-4">
        <article class="post tag-guo-wai-wang-zhan tag-bootstrap-v3">
          <section class="post-featured-image">
            <a target="_blank" onclick="_hmt.push(['_trackEvent', 'imagelink', 'click', 'KORE'])" class="thumbnail"
               href="">
              <img th:src="@{/home/themes/img/case/ps6.jpg}">
            </a>
          </section>
          <!--<header class="post-header">-->
          <!--<h4 class="post-title"><i></i>黄太吉</h4>-->
          <!--<p class="post-title"><i></i>黄太吉，于2012年成立的中式快餐食品公司,一起追寻记忆中难忘的美味记忆吧，让简单不简单，让平凡现不凡。</p>-->
          <!--</header>-->
        </article>
      </div>
      <div class="col-xs-12 col-sm-4">
        <article class="post tag-guo-wai-wang-zhan tag-bootstrap-v3">
          <section class="post-featured-image">
            <a target="_blank" onclick="_hmt.push(['_trackEvent', 'imagelink', 'click', 'KORE'])" class="thumbnail"
               href="">
              <img th:src="@{/home/themes/img/case/ps3.png}">
            </a>
          </section>
          <!--<header class="post-header">-->
          <!--<h4 class="post-title"><i></i>开元酒店集团 </h4>-->
          <!--<p class="post-title"><i></i> 开元酒店是中国最大民营高星级连锁酒店，位列最具规模中国饭店集团第二名，开元酒店集团名列全球酒店集团50强。</p>-->
          <!--</header>-->
        </article>
      </div>
    </div>
  </div>
</main>
<!--------Client case End-------->


<!--------footer begin-------->
<div th:replace="~{common/commons :: footerbar}"></div>
<!--------footer End-------->

</body>
</html>