<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>我是你爹</title>
  <link rel="icon" type="image/png" th:href="@{/home/themes/icon/favicon.png}">

  <script th:src="@{/home/js/html5shiv.min.js}"></script>

  <script th:src="@{/home/js/respond.min.js}"></script>
  <!-- 新 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" th:href="@{/home/css/bootstrap.min.css}">

  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <script th:src="@{/home/js/jquery.min.js}"></script>

  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script th:src="@{/home/js/bootstrap.min.js}"></script>

  <!-- 最新的 Bootstrap  自定义样式 文件 -->
  <link th:href="@{/home/themes/css/home.css}" rel="stylesheet" type="text/css">

</head>
<body>


<!--------- header  begin------------->
<div class=" container-fluid header-main header-section navbar-about service-background">
  <div class="header-back"></div>
  <div th:replace="~{common/commons :: headerbar(active='Service')}"></div>
  <div class="container container-zindex cover-container am-animation-scale-up"
       data-am-scrollspy="{animation: 'scale-up', repeat: false}">
    <h1><span>微商服务</span><br>我们有一种实力</h1>
    <p>未来,我们一直在路上 移动互联网时代的创意革命 “北京钱士大夫”</p>
  </div>

</div>
<!--------- header  End------------->

<div style="height:30px;"></div>


<div class="container docs-container">
  <div class="row">
    <div class="col-md-3">
      <div role="complementary" class="sidebar hidden-print affix-top">
        <div id="navigation">
          <ul class="nav sidenav">
            <li class="active"><a href="#getting-started">平台优势</a></li>
            <li class=""><a href="#using-less">服务条款</a></li>
            <li class=""><a href="#command-line-with-rhino">帮助中心</a></li>
            <li class=""><a href="#client-side-usage">免责声明</a></li>
            <li class=""><a href="#download-options">合作代理</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div role="main" class="col-md-9">
      <div class=" docs-content">

        <div class="docs-section">
          <div class="page-header"><h3 class="docs-heading">平台优势<span id="getting-started" class="anchor-target"></span>
          </h3></div>
          <p>
            本合同甲方委托乙方就“云分发服务”项目进行专项技术服务，并支付相应的技术服务费用。双方经过平等协商，在真实、充分地表达各自意愿的基础上，根据《中华人民共和国合同法》及《中华人民共和国计算机信息网络国际联网管理暂行规定》等相关规定，达成如下协议，并由双方共同恪守。</p>
          <p> 甲方承诺，不得通过转让、出租、无偿使用或其他任何方式许可甲方之外的任何第三人使用本协议项下服务。否则，乙方有权终止本协议，并追究甲方相应责任。</p>
          <pre>
                        <code class="lang-less">
                            <p>平台优势内容填充</p>
                        </code>
                    </pre>
        </div>

        <div class="docs-section">
          <div class="page-header"><h3 class="docs-heading">服务条款<span id="using-less" class="anchor-target"></span></h3>
          </div>
          <p>
            本合同甲方委托乙方就“云分发服务”项目进行专项技术服务，并支付相应的技术服务费用。双方经过平等协商，在真实、充分地表达各自意愿的基础上，根据《中华人民共和国合同法》及《中华人民共和国计算机信息网络国际联网管理暂行规定》等相关规定，达成如下协议，并由双方共同恪守。</p>
          <p> 甲方承诺，不得通过转让、出租、无偿使用或其他任何方式许可甲方之外的任何第三人使用本协议项下服务。否则，乙方有权终止本协议，并追究甲方相应责任。</p>
          <pre>
                        <code class="lang-less">
                            <p>服务条款内容填充</p>
                        </code>
                    </pre>
        </div>

        <div class="docs-section">
          <div class="page-header"><h3 class="docs-heading">帮助中心<span id="command-line-with-rhino"
                                                                      class="anchor-target"></span></h3></div>
          <p>
            本合同甲方委托乙方就“云分发服务”项目进行专项技术服务，并支付相应的技术服务费用。双方经过平等协商，在真实、充分地表达各自意愿的基础上，根据《中华人民共和国合同法》及《中华人民共和国计算机信息网络国际联网管理暂行规定》等相关规定，达成如下协议，并由双方共同恪守。</p>
          <p> 甲方承诺，不得通过转让、出租、无偿使用或其他任何方式许可甲方之外的任何第三人使用本协议项下服务。否则，乙方有权终止本协议，并追究甲方相应责任。</p>
          <pre>
                        <code class="lang-less">
                            <p>帮助中心内容填充</p>
                        </code>
                    </pre>
        </div>

        <div class="docs-section">
          <div class="page-header"><h3 class="docs-heading">免责声明<span id="client-side-usage"
                                                                      class="anchor-target"></span></h3></div>
          <p>
            本合同甲方委托乙方就“云分发服务”项目进行专项技术服务，并支付相应的技术服务费用。双方经过平等协商，在真实、充分地表达各自意愿的基础上，根据《中华人民共和国合同法》及《中华人民共和国计算机信息网络国际联网管理暂行规定》等相关规定，达成如下协议，并由双方共同恪守。</p>
          <p> 甲方承诺，不得通过转让、出租、无偿使用或其他任何方式许可甲方之外的任何第三人使用本协议项下服务。否则，乙方有权终止本协议，并追究甲方相应责任。</p>
          <pre>
                        <code class="lang-less">
                            <p>免责声明内容填充</p>
                        </code>
                    </pre>
        </div>

        <div class="docs-section">
          <div class="page-header"><h3 class="docs-heading">合作代理<span id="download-options"
                                                                      class="anchor-target"></span></h3></div>
          <p>
            本合同甲方委托乙方就“云分发服务”项目进行专项技术服务，并支付相应的技术服务费用。双方经过平等协商，在真实、充分地表达各自意愿的基础上，根据《中华人民共和国合同法》及《中华人民共和国计算机信息网络国际联网管理暂行规定》等相关规定，达成如下协议，并由双方共同恪守。</p>
          <p> 甲方承诺，不得通过转让、出租、无偿使用或其他任何方式许可甲方之外的任何第三人使用本协议项下服务。否则，乙方有权终止本协议，并追究甲方相应责任。</p>
          <pre>
                        <code class="lang-less">
                            <p>合作代理内容填充</p>
                        </code>
                    </pre>
        </div>


      </div>
    </div>
  </div>
</div>
<div style="height:30px;"></div>

<!--------footer begin-------->
<div th:replace="~{common/commons :: footerbar}"></div>
<!--------footer End-------->

<script type="text/javascript">
  /*!
   * Adapted from Bootstrap docs JavaScript
   */


  !function ($) {

    $(function () {

      // IE10 viewport hack for Surface/desktop Windows 8 bug
      //
      // See Getting Started docs for more information
      if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
        var msViewportStyle = document.createElement('style')
        msViewportStyle.appendChild(
            document.createTextNode(
                '@-ms-viewport{width:auto!important}'
            )
        )
        document.querySelector('head').appendChild(msViewportStyle)
      }

      var $window = $(window)
      var $body = $(document.body)

      $body.scrollspy({
        target: '.sidebar',
        offset: 20 // required to select the right thing. if this is smaller then you are at the top of one section
        // but the next section is highlighted
      });

      $window.on('load', function () {
        $body.scrollspy('refresh')
      });

      $('.docs-container [href=#]').click(function (e) {
        e.preventDefault()
      });


      $('.source-link').each(function () {
        var id = $(this).data('content');
        var content = $('<span>').append($('#' + id)).html();
        $(this).attr('data-content', content);

        // Keep popovers open when hovered
        $(this).popover({
          trigger: 'manual',
          container: 'body',
          placement: 'left',
          template: '<div class="popover popover-source"> <div class="arrow"></div> <div class="popover-inner"> <h3 class="popover-title"></h3> <div class="popover-content"> <p></p> </div> </div> </div>',
          html: true,
          delay: {show: 50, hide: 750}
        }).on('mouseenter', function () {
          var self = this;
          $(this).popover('show');
          $(this).addClass('active');
          $(this).addClass('popover-source');

          $('.popover').on('mouseleave', function () {
            $(self).popover('hide');
            $(self).removeClass('active');
          });

        }).on('mouseleave', function () {
          var self = this;
          setTimeout(function () {
            if (!$('.popover:hover').length) {
              $(self).popover('hide');
              $(self).removeClass('active');
            }
          }, 100);
        });
      });


      // back to top
      setTimeout(function () {
        var $sideBar = $('.sidebar')

        $sideBar.affix({
          offset: {
            top: function () {
              var offsetTop = $sideBar.offset().top
              var sideBarMargin = parseInt($sideBar.children(0).css('margin-top'), 10)
              var navOuterHeight = $('.docs-nav').height()

              return (this.top = offsetTop - navOuterHeight - sideBarMargin)
            },
            bottom: function () {
              return (this.bottom = $('.footer').outerHeight(true))
            }
          }
        })
      }, 100);

      setTimeout(function () {
        $('.top').affix()
      }, 100);

    })

  }(jQuery)
</script>
</body>
</html>