<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>产品服务--我是你爹</title>
  <link rel="icon" type="image/png" th:href="@{/home/themes/icon/favicon.png}">

  <script th:src="@{/home/js/html5shiv.min.js}"></script>

  <script th:src="@{/home/js/respond.min.js}"></script>
  <!-- 新 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" th:href="@{/home/css/bootstrap.min.css}">

  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <script th:src="@{/home/js/jquery.min.js}"></script>

  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script th:src="@{/home/js/bootstrap.min.js}"></script>

  <!-- 最新的 Bootstrap  自定义样式 文件 -->
  <link th:href="@{/home/themes/css/home.css}" rel="stylesheet" type="text/css">

</head>
<body>

<!--------- header  begin------------->
<div class=" container-fluid header-main header-section navbar-about product-background">
  <div class="header-back"></div>
  <div th:replace="~{common/commons :: headerbar(active='Product')}"></div>
  <div class="container container-zindex cover-container am-animation-scale-up"
       data-am-scrollspy="{animation: 'scale-up', repeat: false}">
    <h1><span>产品服务</span><br>全新的方式销售、服务、推广</h1>
    <p>我们拥有策略、创意、技术、资源四大优势，为企业提供优质实效的微信营销服务，<br>成就您永远快人一步的微信赢销之道！</p>
  </div>

</div>
<!--------- header  End------------->


<div class="container marketing">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">社会化媒体传播<span class="text-muted"></span></h2>
      <p class="lead">以落地活动为主要传播信息，定期将文字、图片及视频短片传到官方微信、微博进行传播。以目前最流行的微信、微博宣传增加品牌关注度、认知度、消费者信任度。</p>
      <p><a role="button" href="#" class="btn btn-lg btn-success">了解详情<span
          class="glyphicon glyphicon-menu-right"></span></a></p>
      <blockquote>
        <p class="Abstract-text-p">
          出乎意料地，足记经历了这次让人兴奋的爆发式增长。Yzhon公有云平台极致的资源响应速度和充分的弹性以及工程师们扎实的技术保障帮助我们成功地应对了这场异常艰难的技术考验。</p>
      </blockquote>
    </div>
    <div class="col-md-5">
      <img alt="500x500" data-src="holder.js/500x500/auto" class="featurette-image img-responsive center-block"
           th:src="@{/home/themes/img/code/chuan.png}" data-holder-rendered="true">
    </div>
  </div>
</div>


<div class="container-fluid container-fluid-backs">
  <div class="container marketing">
    <div class="row featurette">
      <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">移动互联网搭建<span class="text-muted"></span></h2>
        <p class="lead">根据客户的需求，市场状况，企业情况等进行搭建适合客户的微信网站。</p>
        <p><a role="button" href="#" class="btn btn-lg btn-success">了解详情<span
            class="glyphicon glyphicon-menu-right"></span></a></p>
        <blockquote>
          <p class="Abstract-text-p">
            出乎意料地，足记经历了这次让人兴奋的爆发式增长。Yzhon公有云平台极致的资源响应速度和充分的弹性以及工程师们扎实的技术保障帮助我们成功地应对了这场异常艰难的技术考验。</p>
        </blockquote>
      </div>
      <div class="col-md-5 col-md-pull-7">
        <img alt="500x500" data-src="holder.js/500x500/auto" class="featurette-image img-responsive center-block"
             th:src="@{/home/themes/img/code/shou.png}" data-holder-rendered="true">
      </div>
    </div>
  </div>
</div>


<div class="container marketing">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">微信全案营销 <span class="text-muted"></span></h2>
      <p class="lead">微信营销平台+微信活动营销+传播方案，为企业量身定制独立的全案营销方案，全方位的为客户提供有效的解决方案。</p>
      <p><a role="button" href="#" class="btn btn-lg btn-success">了解详情<span
          class="glyphicon glyphicon-menu-right"></span></a></p>
      <blockquote>
        <p class="Abstract-text-p">
          在当今大数据时代的影响下，通过创意、新技术、新媒体的结合运用，为客户提供整合的解决方案与全方位的用户传播服务。我们注重专业，始终如一，让无限创意越过有限界限。最接地气的解决方案来源于理性思维加创造性思维及最高效的执行力。</p>
      </blockquote>
    </div>
    <div class="col-md-5">
      <img alt="500x500" data-src="holder.js/500x500/auto" class="featurette-image img-responsive center-block"
           th:src="@{/home/themes/img/code/wei.png}" data-holder-rendered="true">
    </div>
  </div>
</div>


<div class="container-fluid container-fluid-backs">
  <div class="container marketing">
    <div class="row featurette">
      <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">定制项目开发<span class="text-muted"></span></h2>
        <p class="lead">展示+推广+互动+成交"整体微信营销解决方案.企业业务转型与升级首选</p>
        <p><a role="button" href="#" class="btn btn-lg btn-success">了解详情<span
            class="glyphicon glyphicon-menu-right"></span></a></p>
        <blockquote>
          <p class="Abstract-text-p">针对企业经营类型，产品特点的营销包装和推送，定制化解决方案 。</p>
        </blockquote>
      </div>
      <div class="col-md-5 col-md-pull-7">
        <img alt="500x500" data-src="holder.js/500x500/auto" class="featurette-image img-responsive center-block"
             th:src="@{/home/themes/img/code/web.png}" data-holder-rendered="true">
      </div>
    </div>
  </div>
</div>


<!--------footer begin-------->
<div th:replace="~{common/commons :: footerbar}"></div>
<!--------footer End-------->


</body>
</html>