<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>朋友圈广告--我是你爹</title>
  <link rel="icon" type="image/png" th:href="@{themes/icon/favicon.png}">

  <script th:src="@{js/html5shiv.min.js}"></script>

  <script th:src="@{js/respond.min.js}"></script>
  <!-- 新 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">

  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <script th:src="@{js/jquery.min.js}"></script>

  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script th:src="@{js/bootstrap.min.js}"></script>

  <!-- 最新的 Bootstrap  自定义样式 文件 -->
  <link th:href="@{themes/css/home.css}" rel="stylesheet" type="text/css">

</head>
<body>


<!--------- header  begin------------->
<div class=" container-fluid header-main header-section navbar-about service-background">
  <div class="header-back"></div>
  <nav class="navbar navbar-default  navbar-brands  navbar-abouts">
    <div class="container">
      <div class="navbar-header">
        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse"
                class="navbar-toggle collapsed" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a th:href="@{index}" class="navbar-logo navbar-brand "></a>
      </div>
      <div class="collapse navbar-collapse navbar-right" id="navbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a aria-expanded="false" role="button" aria-haspopup="true" class="dropdown-toggle"
               th:href="@{index}">首页</a>
          </li>
          <li class="">
            <a aria-expanded="false" role="button" aria-haspopup="true" class="dropdown-toggle"
               th:href="@{about}">关于我们</a>
          </li>
          <li class="dropdown">
            <a aria-expanded="false" role="button" aria-haspopup="true" class="dropdown-toggle"
               th:href="@{Product}">产品服务</a>
          </li>
          <li class="dropdown">
            <a aria-expanded="false" role="button" aria-haspopup="true" class="dropdown-toggle"
               th:href="@{Case}">经典案例</a>
          </li>
          <li class="active">
            <a aria-expanded="false" role="button" aria-haspopup="true" class="dropdown-toggle"
               th:href="@{Service}">微商服务</a>
          </li>
          <li class="dropdown">
            <a aria-expanded="false" role="button" aria-haspopup="true" class="dropdown-toggle"
               th:href="@{contact}">联系我们</a>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <div class="container container-zindex cover-container am-animation-scale-up"
       data-am-scrollspy="{animation: 'scale-up', repeat: false}">
    <h1><span>微商服务</span><br>我们有一种实力</h1>
    <p>未来,我们一直在路上 移动互联网时代的创意革命 “北京前推”</p>
  </div>

</div>
<!--------- header  End------------->

<div style="height:300px;"></div>


<!--------footer begin-------->
<footer class="main-footer  main-footer1">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="widget">
          <h4 class="title"><img th:src="@{themes/img/logo-blue.png}"></h4>
          <div class="content recent-post">
            <div class="recent-single-post">
              <div class="date">QIANTUI移动公关第一品牌，我们拥有最全面的媒介数据库资源，我们能给您提供全面的服务 。</div>
            </div>
            <div class="recent-single-post"><a class="post-title" href="#">XXX</a>
              <div class="date" style="padding-top:10px;">Copyright © 2020</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="widget">
          <h4 class="title"></h4>
          <div class="content-about">
            <div><a th:href="@{about}">关于我们</a></div>
            <div><a th:href="@{contact}">联系我们</a></div>
            <div><a href="http://www.lagou.com/gongsi/j71361.html" target="_blank">加入我们</a></div>
            <div><a th:href="@{Product}">产品服务</a></div>
            <div><a th:href="@{Case}">经典案例</a></div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="widget">
          <h4 class="title"></h4>
          <div class="content-about">
            <div><a th:href="@{Introduction}">平台优势</a></div>
            <div><a th:href="@{Introduction}">服务条款</a></div>
            <div><a th:href="@{Introduction}">免责声明</a></div>
            <div><a th:href="@{Introduction}">合作代理</a></div>
            <div><a th:href="@{Introduction}">帮助中心</a></div>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="widget">
          <div class="content-about">
            <img th:src="@{themes/img/ewm.jpg}" width="148" height="148"
                 style="border:1px solid #eee; padding:5px;" title="扫描二维码。关注我们。">
          </div>
        </div>
      </div>
    </div>
  </div>
</footer><!--------footer End-------->


</body>
</html>