<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>朋友圈广告--我是你爹</title>
  <link rel="icon" type="image/png" th:href="@{/home/themes/icon/favicon.png}">

  <script th:src="@{/home/js/html5shiv.min.js}"></script>

  <script th:src="@{/home/js/respond.min.js}"></script>
  <!-- 新 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" th:href="@{/home/css/bootstrap.min.css}">

  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <script th:src="@{/home/js/jquery.min.js}"></script>

  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script th:src="@{/home/js/bootstrap.min.js}"></script>

  <!-- 最新的 Bootstrap  自定义样式 文件 -->
  <link th:href="@{/home/themes/css/home.css}" rel="stylesheet" type="text/css">

</head>
<body>


<!--------- header  begin------------->
<div class=" container-fluid header-main header-section navbar-about service-background">
  <div class="header-back"></div>
  <div th:replace="~{common/commons :: headerbar(active='Service')}"></div>
  <div class="container container-zindex cover-container am-animation-scale-up"
       data-am-scrollspy="{animation: 'scale-up', repeat: false}">
    <h1><span>微商服务</span><br>我们有一种实力</h1>
    <p>未来,我们一直在路上 移动互联网时代的创意革命 “北京前推”</p>
  </div>

</div>
<!--------- header  End------------->

<!--------footer begin-------->
<div th:replace="~{common/commons :: footerbar}"></div>
<!--------footer End-------->


</body>
</html>